body {
    background: url(../images/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    min-width: 100%;
}

#banner {
    max-width: 400px;
}

.bannerText {
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.insignia {
    max-height: 200px;
    display: block;
    margin: auto;
}

#chooseEnemy {
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spacer {
    height: 20px;
}

.shipName {
    /* text-align: center; */
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card {
    text-align: center;
    max-width: 220px;
    height: 380px;
    border: solid skyblue 5px;
    background-color: midnightblue;
    color: white;
}

#gameBox {
    text-align: center;
    border: solid skyblue 5px;
    background-color: midnightblue;
    color: white;
}

#playerStats {
    background-color: skyblue;
    color: black;
    padding-top: 20px;
    height: 120px;
    width: 230px;
    margin: 70px 20px 20px 20px;
}

#enemyStats {
    background-color: skyblue;
    color: black;
    padding-top: 20px;
    height: 120px;
    width: 230px;
    margin: 70px 20px 20px 20px;
}

#attackBtn {
    margin-top: 140px;
}

#resetBtn {
    margin-top: 20px;
}

#winLosePop {
    width: 960px;
    height: 120px;
    text-align: center;
    background-color: skyblue;
    color: black;
    border: solid midnightblue 5px;
    padding-top: 30px;
}